body {
    background-color: #FFD1Dc;  
}

h1 {
	font-size: 60px;    
    text-align: center;
    color: #808080;
    vertical-align: top;
    font-family: "Garamond";
}

.logo {
    display: block;
    height: auto;
    width: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.logoInBar {
	float: left;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.text {
	float: right;
	width: 40%;
	font-size: 30px;    
    text-align: center;
    color: #808080;
    vertical-align: top;
    font-family: "Garamond";
}

.teamPhotoContainer {
     text-align: center;
}

.teamProfile {
	display: inline-block;
	padding: 0 10%;
}

h3, form {
	text-align: center;
	color: #808080;
	font-family: "Garamond";
}

table,
td {
    border: 1px solid #333;
    margin-left:auto; 
    margin-right:auto;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.info {
  white-space: pre;
}

